<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"/> -->
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/workspace/css/main.css" | prepend: site.baseurl }}" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ "/workspace/css/jquery-ui-tabs.css" | prepend: site.baseurl }}" media="screen, projection" />
  <link rel="stylesheet" href="{{ "/workspace/css/blueprint/print.css" | prepend: site.baseurl }}" type="text/css" media="print" />
  <link href="//api.mapbox.com/mapbox.js/v2.2.3/mapbox.css" rel="stylesheet" />
  <style>
    #map {
       width: 590px; height: 340px; border: 7px solid #ddd;
    }
  </style>
  <script src="//api.mapbox.com/mapbox.js/v2.2.3/mapbox.js"></script>
</head>
