<div class="column span-6">
  <h1 id="logo">
    <a href="/" title="North Texas Presbytery (Presbyterian Church in America)">North Texas Presbytery (Presbyterian Church in America) — Churches</a>
  </h1>
</div>
<div class="column span-18 last">
  <div id="mainnav">
    <ul id="menu">
      {% for navitem in site.data.nav %}
      <li>
        <a href="{{ navitem.url }}"{% if navitem.external %}target="_blank"{% endif%}>{{ navitem.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <br />
  {% for feature in site.homefeature | where:"date", %}
  {% assign sitetimenumber = site.time | date:'%Y%m%d' %}
  {% assign enddatenumber = feature.end_date | date:'%Y%m%d' %}
    {% if enddatenumber > sitetimenumber %}
    <div id="home-feature" class="home-feature-set">
      <h3>{{ feature.title }} / {{ feature.place.location }} / {{ feature.date_display }}</h3>
      {{ feature.content|markdownify }}
    </div>
    {% endif %}
  {% endfor %}
