
{% assign latlng = page.address_geocode | split: "," %}
{% assign lat = latlng[0] %}
{% assign lng = latlng[1] %}

<div id="map"></div>
<script type="text/javascript">
  L.mapbox.accessToken = 'pk.eyJ1IjoibnRwcmVzYnkiLCJhIjoiY2loaHoydXNkMG1nZnZma2w5YmhtcHJ5YSJ9.qfncmAi2iTfokLEQDZVJTQ';
  var map = L.mapbox.map('map', 'mapbox.streets').setView([{{ lat }}, {{ lng }}], 14);
  L.mapbox.featureLayer({
    // this feature is in the GeoJSON format: see geojson.org
    // for the full specification
    type: 'Feature',
    geometry: {
        type: 'Point',
        // coordinates here are in longitude, latitude order because
        // x, y is the standard for GeoJSON and many formats
        coordinates: [
          {{ lng }},
          {{ lat }}
        ]
    },
    properties: {
        title: '{{ page.title }}',
        description: '{{ page.address_street }}, {{ page.address_city }}, {{ page.address_state }} {{ page.address_zipcode }}<br/><a href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q={{ page.address_street }} {{ page.address_city }}, {{ page.address_state }} {{ page.address_zipcode }},&amp;iwstate1=dir:to" target="_blank">Get Directions</a>',
        // one can customize markers by adding simplestyle properties
        // https://www.mapbox.com/guides/an-open-platform/#simplestyle
        'marker-size': 'large',
        'marker-color': '#BE9A6B'
    }
}).addTo(map);
</script>
