
{% assign latlng = page.address_geocode | split: "," %}
{% assign lat = latlng[0] %}
{% assign lng = latlng[1] %}

<div id="map"></div>
<script>
  var map = L.map('map').setView([{{ lat }}, {{ lng }}], 14);
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data © <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoibnRwcmVzYnkiLCJhIjoiY2loaHoydXNkMG1nZnZma2w5YmhtcHJ5YSJ9.qfncmAi2iTfokLEQDZVJTQ'
  }).addTo(map);
        
  L.marker([{{ lat }}, {{ lng }}]).addTo(map)
    .bindPopup('{{ page.title }}<br />{{ page.address_street }}<br/>{{ page.address_city }}, {{ page.address_state }} {{ page.address_zipcode }}')
</script>
