---
layout: default
---


{% assign churches_address = site.churches | sort: 'address_city' %}
{% assign group_by_tx = churches_address | where: 'address_state','TX' | group_by: 'address_city' %}
{% assign group_by_la = churches_address | where: 'address_state','LA' | group_by: 'address_city' %}

{% comment %}
  {{ group_by_tx }}
  {{ group_by_la }}
{% endcomment %}



<div class="section-label column span-7">
  <h2>Texas {{ page.title }}</h2>
</div>
<div class="column span-17 last">
  <dl class="church-list">
    {% for cities in group_by_tx %}
      {% include cities.html %}
    {% endfor %}
  </dl>
</div>

{% if group_by_la %}
<br />
<hr />
<br />
<div class="section-label column span-7">
  <h2>Louisiana {{ page.title }}</h2>
</div>
<div class="column span-17 last">
  <dl class="church-list">
    {% for cities in group_by_la %}
      {% include cities.html %}
    {% endfor %}
  </dl>
</div>
{% endif %}
