---
layout: default
---
<div class="section-label column span-7">
  <h2>{{ page.title }}</h2>
</div>
<div class="column span-8 append-1">
  {% for member in page.members %}
  <dl class="committee-member-item">
    <dt>{{ member.name }}</dt>
    <dd>
      <p>
        {% if member.committee_role %}{{ member.committee_role }}<br />{% endif %}
        {% if member.church %}{{ member.church }}<br />{% endif %}
        {% if member.campus-ministry %}{{ member.campus-ministry }}<br />{% endif %}
        {% if member.church_office %}{{ member.church_office }}<br />{% endif %}
      </p>
    </dd>
  </dl>
  {% endfor %}
</div>
<div class="column span-8 last">
  {% if page.documents %}
  <div class="box forms">
    <h3>{{ page.title }}<br />Documents and Forms</h3>
    {% for doc in page.documents %}
    <dl class="download ">
      <dt>
        <a href="{{ site.file_uploads }}/{{ doc.file }}" title="{{ doc.file }}" target="_blank">{{ doc.name }}</a>
      </dt>
    </dl>
    {% endfor %}
  </div>
  {% endif %}


</div>
