---
layout: default
---
<div class="section-label column span-7">
  <h2>{{ page.title }}</h2>
</div>
<div class="column span-8 append-1">
  {% for member in page.members %}
  <dl class="committee-member-item">
    <dt>
      {% if member.email %}
        {% if member.email != '' %}
          <a href="mailto:{{ member.email }}" title="Email {{ member.name }}">{{ member.name }}</a>
          {% else %}
          {{ member.name }}
        {% endif %}
      {% else  %}
        {{ member.name }}
      {% endif %}
    </dt>
    <dd>
      <p>
        {% if member.committee_role %}{{ member.committee_role }}<br />{% endif %}
        {% if member.church %}{{ member.church }}<br />{% endif %}
        {% if member.campus-ministry %}{{ member.campus-ministry }}<br />{% endif %}
        {% if member.church_office %}{{ member.church_office }}<br />{% endif %}
      </p>
    </dd>
  </dl>
  {% endfor %}
</div>
<div class="column span-8 last">
  {% if page.important_dates %}
  <div class="box forms">
    <h3>{{ page.title }}<br />Important Dates</h3>
    {% for important in page.important_dates %}
    <dl class="download ">
      <dt>
        {{ important.name }}
      </dt>
      {% if important.dates %}
        {% for date_item in important.dates | where:"date", %}
        {% assign sitetimenumber = site.time | date:'%Y%m%d' %}
        {% assign enddatenumber = date_item.date | date:'%Y%m%d' %}
          {% if enddatenumber >= sitetimenumber %}
          <dd>{{ date_item.date | date:'%A, %B %e, %Y' }}</dd>
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if important.note %}
        <dd><em>{{ important.note }}</em></dd>
      {% endif %}
    </dl>
    {% endfor %}
  </div>
  {% endif %}
  {% if page.documents %}
  <div class="box forms">
    <h3>{{ page.title }}<br />Documents and Forms</h3>
    {% for doc in page.documents %}
    <dl class="download ">
      <dt>
        {% if doc.file %}
          <a href="{{ site.file_uploads }}/{{ doc.file }}" title="{{ doc.file }}" target="_blank">{{ doc.name }}</a>
        {% endif %}
        {% if doc.url %}
          <a href="{{ doc.url }}" title="Go to {{ doc.name }}" target="_blank">{{ doc.name }}</a>
        {% endif %}
      </dt>
    </dl>
    {% endfor %}
  </div>
  {% endif %}
</div>

<div class="column span-17 prepend-7">
  <p>
    <br />
    <br />
    <a href="/committees">
      <strong>Return to list of committees</strong>
    </a>
  </p>
</div>
